<div class="categories">
    <div class="mtk">
        <div class="logo">
            <img src="src/categories/mtk.svg" alt="Math Logo" />
        </div>
        <h1>Matematika</h1>
    </div>
    <div class="ipa">
        <div class="logo">
            <img src="src/categories/ipa.svg" alt="IPA Logo" />
        </div>
        <h1>IPA</h1>
    </div>
    <div class="ips">
        <div class="logo">
            <img src="src/categories/ips.svg" alt="IPS Logo" />
        </div>
        <h1>IPS</h1>
    </div>
</div>