<div class="home" id="home">
    <div class="p1">
        <h1>OMDI TSAN COFA 7th</h1>
        <h2>Oktober 2025</h2>
        <p>Ikuti Olimpiade Madrasah tingkat provinsi! Ajang kompetisi bergengsi untuk siswa madrasah dengan berbagai
            cabang
            lomba dan hadiah menarik.</p>
        <p class="location">Lokasi: Provinsi Anda</p>
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSfd-qID2Pyw1kkNbf4gJUYrbrH5C1dCvWZQtNjo9kXmjJ4WwA/formResponse" class="cta-btn">Daftar Sekarang</a>
    </div>
</div>