<div class="sejarah" id="sejarah">
    <h2>Sejarah OMDI</h2>
    <p>Olimpiade Madrasah (OMDI) adalah ajang kompetisi tahunan yang diselenggarakan untuk siswa madrasah di seluruh
      Indonesia. Tujuan utama OMDI adalah untuk mendorong semangat belajar, kreativitas, dan inovasi di kalangan siswa
      madrasah melalui berbagai cabang lomba seperti Matematika, IPA, IPS dan PAI.</p>
    <p>OMDI pertama kali diadakan pada tahun 2010 dan sejak itu telah menjadi salah satu acara pendidikan terbesar di
      Indonesia. Setiap tahun, ribuan siswa dari berbagai madrasah berpartisipasi dalam kompetisi ini, yang tidak hanya
      menguji kemampuan akademis mereka tetapi juga keterampilan sosial dan kepemimpinan.</p>
    <p>Selain sebagai ajang kompetisi, OMDI juga bertujuan untuk mempererat hubungan antar madrasah dan mempromosikan
      nilai-nilai keislaman serta budaya Indonesia. Melalui OMDI, diharapkan siswa madrasah dapat mengembangkan potensi
      mereka secara maksimal dan menjadi generasi penerus bangsa yang berkualitas.</p>
  </div>